// Цвета
$HakiDark: rgba(84, 90, 47, 1);
$HakiLight: rgba(153, 161, 142, 1);
$Brown: rgba(99, 83, 62, 1);
$Black: rgba(26, 26, 24, 1);
$White: rgba(255, 255, 255, 1);
// Шрифты
@font-face {
    font-family: Noah-Bold;
    src: url(../fonts/Noah-Bold.ttf);
}
@font-face {
    font-family: Noah-Regular;
    src: url(../fonts/Noah-Regular.ttf);
}
@font-face {
    font-family: MarckScript-Regular;
    src: url(../fonts/MarckScript-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

// header
.header {
    justify-items: center;
    justify-content: center;
    background-image: url(../images/portfolio/main_foto.png);
    background-size: cover;    
    display: grid;
    grid-template-columns: 1fr 40% 20%;
    gap: 2px;
    width: 100%;
    height: 12rem;
    padding-top: 2rem;
}

.header__logo {
    padding-left: 4rem;
} /*логопотип в header слева*/

.header__nav {
    padding-top: 3rem;
    font-family: Noah-Regular;
} /*меню*/

.header__nav-menu{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    font-size: 14pt;
    text-decoration: none;
    color: $White;
}

.header__nav a:hover {
    border-bottom: 1px solid $White;
    background-color: rgba(255, 255, 255, 0.2);
} /*подчеркивание под пунктами меню при наведении*/

.header__contact {
    padding-top: 1rem;
    font-family: Noah-Regular;
}

.header__consulting {
    padding-top: 0.5rem;
    padding-left: 1.2rem;
    font-size: 11pt;
    color: $White;
}

.header__phone {
    width: 13rem;
    height: 3.75rem;
    padding-top: 1.3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 14pt;
    background-color: $White;
}

// бургер

.menu__burger {
    display: none;
}

// слайдер

.slider {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
    margin-bottom: 6rem;
}

.slider .slides {
	overflow: hidden;
	overflow: hidden;
	width: 100%;
	height: 60vmin;
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider .slides > li {
	width: 100%;
	height: 60vmin;
	position: absolute;
	z-index: 1;
	overflow: hidden;    
}

.slider .slides > li > img {
	width: 100%;
	height: auto;
}
/*
.slider .slides > li:first-child:not(:target) {
	z-index: 1;
	-webkit-transform: translateY(0%);
	        transform: translateY(0%);
}
*/
.slider .thumbnails {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
}

.slider .thumbnails > li {
	float: left;
	width: 8.89%;    
    margin-top: 0.2%;
    opacity: 0.6;
}

.slider .thumbnails > li:not(:last-child) {
    margin-right: 0.2%;
}

.slider .thumbnails > li:active {
    opacity: 1;
}

.slider .thumbnails > li > a {
	display: block;
}

.slider .thumbnails > li > a > img {
	width: 100%;
	height: auto;
}

.slider .slides li:target {
	z-index: 3;
	-webkit-animation: slide 1s 1;
}
.slider .slides li:not(:target) {
	-webkit-animation: hidden 1s 1;
}
@-webkit-keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}

@keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}

@-webkit-keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}

@keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}


// main

.container {
    display: grid;
    justify-items: center;
    margin: 0 auto;
    max-width: 1337px;
}

// кнопка назад

.link_main {    
    display: grid;    
    grid-template-columns: 0.7fr 2fr;
    gap: 5%;
    justify-self: start;
    margin-bottom: 6rem;
    width: 320px;
}

.pointer-back__img {
    width: 100%;    
}

.link_back {
    align-self: center;
}

// карточки

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    min-width: 1336px;
    min-height: 562px;
    margin-bottom: 8rem;
}

.card__img {
    width: 100%;
    align-self: center;
}

.main-card__text {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    max-width: 597px;
}

.card__text-title {
    grid-row: 1/2;
    grid-column: 1/3;    
}

.title_h2 {
    color: $Black;
    font-family: Noah-Regular;
    font-weight: 400;
    font-size: 58px;
    line-height: 72px;
}

.text-18 {
    color: $Black;
    font-family: Noah-Regular;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.text-24 {
    color: $Black;
    font-family: Noah-Regular;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.card__text-1 {
    grid-row: 2/3;
    grid-column: 1/3;
}

.card__text-feature-5 {
    grid-row: 5/6;
    grid-column: 1/3;
}

.card__text-feature-6 {
    grid-row: 6/7;
    grid-column: 1/3;
}

.card__text-2 {
    grid-row: 7/8;
    grid-column: 1/3;
    
}

.card2__text_center {
    justify-self: center;
    align-self: center;
}

.card2__text {
    max-width: 424px;
    color: $Black;
    font-family: Noah-Regular;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
}

.card__text {
    max-width: 597px;
    align-self: center;
}

.main__text {    
    max-width: 464px;
    margin-bottom: 4rem;
    color: $Black;
    font-family: Noah-Regular;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
}

// форма

.main-form {
    display: grid;
    grid-template-areas: 
    "main-form__form form_img1 form_img1"
    "main-form__form form_img2 form_img3";
    gap: 1rem;
    align-content: center;
    margin-bottom: 8rem;
}

.main-form__form {
    grid-area: main-form__form;
    display: grid; 
    max-width: 430px; 
    text-align: center;   
    background-color: $HakiDark;
}

.form_img1 {
    grid-area: form_img1;
}

.form_img2 {
    grid-area: form_img2;
}

.form_img3 {
    grid-area: form_img3;
}

.form_container {
    align-self: center;
    color: $White;
}

.form__text {
    margin: 0 36px 40px 36px;    
}

.form {    
    margin: 0 19px;
}

.form__text_title {
    color: $White;
}

.form__text_text {
    color: $White;
}

.phone {
    margin-bottom: 36px;
    padding-left: 19px;
    width: 392px;
    height: 50px;
}

.form_checkbox {
    text-align: start;
    margin-bottom: 36px;   
}

.checkbox__label {
    font-family: Noah-Regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

#checkbox {
    margin-right: 21px;
}

.btn-form {
    width: 289px;
    height: 60px;
    border: 1px solid $White;
    background-color: $HakiDark;
    color: $White;
    cursor: pointer;
}

.btn-form:hover {
    background-color: $HakiLight;
}

// футер
// верхняя часть

.another-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2%;    
}

.another-project {
    display: grid;
    grid-template-columns: 3fr 0.4fr;
    grid-template-rows: 0.8fr 1fr; 
    position: relative;
    margin: 44px 56px 60px 56px;
    text-align: center;
}

.project_preview {    
    background: url(/assets/images/project/preview_project.png) no-repeat transparent;
}

.project_next {
    background: url(/assets/images/project/next_project.png) no-repeat transparent;
}

.another-project__h3 { 
    grid-column: 1/2;
    grid-row: 1/2;     
    color: $White;
    font-family: Noah-Regular;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
}

.another-project__name {
    grid-column: 1/2;
    grid-row: 2/2;
    color: $White;
}

.another-project__pointer {
    grid-column: 2/2;
    grid-row: 2/2;
    align-self: start;
    justify-self: end;
    width: 84px;
    height: 38px;    
    background: url(/assets/images/project/preview_project_pointer.png) right no-repeat transparent;
    background-size: contain;
}

.another-project_next {
    grid-template-columns: 0.4fr 3fr;
    grid-template-rows: 0.8fr 1fr; 
}

.another-project__h3_next {
    grid-column: 2/2;
    grid-row: 1/2; 
}

.another-project__name_next {
    grid-column: 2/2;
    grid-row: 2/2;
}

.another-project__pointer_next {
    grid-column: 1/2;
    grid-row: 2/2;
    justify-self: start;
    background: url(/assets/images/project/next_project_pointer.png) left center no-repeat transparent;    
}

// ссылка на всю карточку

.another-project__pointer::before {
    content: '';
    position: absolute;
    display: block;    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


// общий футер
.footer {
    display: grid;
    grid-template-columns: 35% 1fr 20%;
    grid-template-rows: 1fr;
    gap: 2px;
    width: 100%;
    height: 14rem;
    background-color: #545A2F;
}

.footer__contacts {
    padding-top: 3.5rem;
    padding-left: 5rem;
    font-family: Noah-Regular;
    color: $White;
}

.footer__email {
    padding-top: 1rem;
}

.footer__copyright {
    padding-top:5rem;
    font-size: 9pt;
}

.footer__img {
    padding-top: 1.5rem;
    padding-left: 7rem;
}

.footer__instagram {
    padding-top: 2.5rem;
    padding-left: 10rem;
}

.footer__confidential{
    padding-top: 6rem;
    padding-left: 3rem;
    font-family: Noah-Regular;
    font-size: 9pt;
    color: $White;
}


/* Adaptive phone */

@media screen and (max-width: 376px) {
    
    // бургер

    header {
        position: relative;
    }
    .header__logo {
        z-index: 5;
        padding: 0;
        width: 107px;
    }
    .header__nav {
        display: none;
    }
    .header__contact {
        display: none;
    }
    .menu__burger {        
        display: block;
    }
    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }
    .burger {
        z-index: 5;
        cursor: pointer;
        display: block;
        position: absolute;
        right: 30px;
        top: 30px;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;        
    }
    .burger::before,
    .burger::after {
        content: "";
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: $White;
    }
    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 $White;
        transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
    }
    .burger::after {
        bottom: 0;
        transition: bottom 0.3s 0.15s, transform 0.3s;
    }
    .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
        transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
    }
    .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom 0.3s, transform 0.3s 0.15s;
    }
    .menu-list {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 4;
        list-style: none;
        padding: 10rem 3rem 0 3rem;
        margin: 0;
        display: none;
        background: $HakiDark;
        text-align: center;        
        overflow: auto;                
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }     
    .burger-checkbox:checked ~ .menu-list {
        display: block;
    }
    .menu-item {
        display: block;
        padding: 20px;
        border-bottom: 1px solid #ccc;
        color: $White;
        text-decoration: none;
        font-size: 20px;
    }
    .menu-item:hover {
        background: $HakiLight;
    }
    .burger__phone {
        margin: auto;
        margin-top: 5rem;
        padding: 15px 15px;
        color: $Black;
        border: none;
        text-align: center;
        font-size: 24px;
    }
    .burger__consult {
        border: none;
        padding: 20px 0;
    }


    // слайдер
    .slider .slides {        
        height: 28rem;       
    }
    .slider .slides > li {        
        height: 28rem;  
        overflow: hidden;         
    }
    .slider .slides > li > img {
        width: 170%;
        height: 100%;
        margin-left: -30%;        
    }
    .slider .thumbnails {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .slider .thumbnails > li {
        float: none;
        width: 20%;    
        margin-top: 0.1%;
        opacity: 0.6;
        flex-shrink: 0;
    }

     // main container 
    .container {
        max-width: 375px;
        margin: 0 auto;
    }

    // кнопка назад
    .link_main {
        grid-template-columns: 0.2fr 2fr;
        margin-bottom: 3rem;        
} 
    .pointer-back {
    align-self: center;
}
    .pointer-back__img {
        width: 100%;    
}
    .link_back {
    visibility: hidden;    
}
    .link_back::before {
    content: 'Назад';
    visibility: visible;    
    font-size: 14px;
}
// карточки
    .card {
    grid-template-columns: 1fr;
    min-width: 375px;
    justify-self: start;
}
    .main-card {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-self: start;
    min-height: 800px;
    min-width: 375px;
}
    .main-card__text {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1.5fr 1fr 1fr 1.5fr 1fr 1.5fr 40%;
    margin: 0 auto;
    max-width: 330px;
}
    .card__img {
    max-width: 375px;
}
    .title_h2 {
    font-size: 22px;
    line-height: 28px;
}
    .text-24 {
    font-size: 18px;
    line-height: 24px;
}
    .text-18 {
    font-size: 16px;
    line-height: 20px;
}
    .card2__text_center {
    margin: 0 auto;
    max-width: 330px;    
}
    .card2__text {    
    font-size: 28px;
    line-height: 34px;
}
    .card__text {
    margin: 0 auto;
    max-width: 330px;
}
    .card__img_4 {
    grid-row: 2/3;
}
    .main__text {
    justify-self: start;
    margin-left: 22px;
    max-width: 330px;
    font-size: 28px;
    line-height: 34px;
}

// форма
.main-form {
    display: flex;
    flex-direction: column-reverse;
    max-width: 375px;
}
.form_img1, .form_img3 {
    display: none;
}
.main-form__form {
    width: 100%;
    height: 462px;
}
.phone {
    margin-bottom: 36px;
    padding-left: 19px;
    width: 337px;
    height: 50px;
}
.form_img2 {
    max-width: 375px;
}
.form__img_adapt {
    width: 100%;
}

// footer
    .project_preview {
    background-size: cover;
}
    .project_next {
    background-size: cover;
}
    .another-project {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.5fr 0.2fr;
    margin: 8% 8% 25% 8%;
    align-content: center;
}
    .another-project__h3 {
    grid-row: 2/3;
    font-size: 16px;
    line-height: 20px;
}
    .another-project__name {
    grid-row: 3/3;
}
    .another-project__pointer {
    grid-row: 1/2;
    grid-column: 1/3;   
    background-size: 50%;
    align-self: start;
}
    .another-project__h3_next {
    grid-column: 1/2;     
}
    .another-project__name_next {
    grid-column: 1/2;    
}
    .another-project__pointer_next {
    grid-column: 1/2;
    grid-row: 1/2;    
    background-size: 50%;    
}

// общий футер
.footer {
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2px;
    margin: 0 auto;
    width: 100%;
    height: 35rem;    
}
.footer__contacts {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0;
    justify-self: center;
    text-align: center;
}
.footer__phone {
    font-size: 20px;
}
.footer__email {
    font-size: 20px;
}
.footer__copyright {
    display: none;
}
.footer__img {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0;
    padding-top: 3rem;
    justify-self: center;
}
.footer__socialmedia {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 0;
    justify-self: center;
    text-align: center;
    width: 330px;
}
.footer__instagram {
    padding: 0;
    text-align: center;
}
.footer__confidential {
    padding: 0;
    padding-top: 4rem;
    text-align: left;
    font-size: 16px;
}
.footer__confidential::after {
    content: '© 2021 VESNA';
    display: block;
    padding-top: 0.5rem;   
    font-size: 16px;
}
// круглая кнопка
.footer__socialmedia::before {
    content: 'Наверх';
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    padding: 50px 36px;
    background: url(/assets/images/project/footer_btn_up.png) 50% 25% no-repeat $HakiLight ;
    border-radius: 50%;
    color: $White;
    font-size: 14px;
}
}