@font-face {
  font-family: MarckScript-Regular;
  src: url(../fonts/MarckScript-Regular.ttf);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Выравниваем элементы по верхнему краю */
  padding: 1rem;
  height: 35rem;
  background-image: url('../images/portfolio/main_foto.png');
  background-size: cover;
}

.header__logo {
  flex: 0 0 120px; /* Задаем фиксированный размер для логотипа */
  height: auto;
}

.header__nav {
  display: flex;
  justify-content: center;
  flex: 1; /* Позволяет навигации занимать доступное пространство */
}

.header__nav-menu {
  margin: 0 1rem;
}

.header__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__phone {
  order: 2; /* Помещаем телефон под ссылку консультации */
}

.header__consulting {
  order: 1; /* Помещаем ссылку консультации над телефоном */
  margin-top: 0; /* Убираем верхний отступ */
}


.page-title {
  color: white;
  font-family: 'Noah-Bold', sans-serif;
  font-size: 5rem;
  position: absolute; /* Абсолютное позиционирование относительно .header */
  top: 50%; /* Позиционирование по вертикали в центре */
  left: 50%; /* Позиционирование по горизонтали в центре */
  transform: translate(-50%, -50%); /* Сдвиг для точного центрирования */
  margin-top: 0; /* Сбрасываем верхний отступ, если он был установлен */
  /* bottom не требуется, если мы центрируем элемент */
}

.contact-container {
  max-width: 1200px;
  margin: 100px auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 300px;
}

.contact-content {
  display: flex;
  flex-direction: column;
}

.contact-form, .contact-info {
  display: flex;
  flex-direction: column;
}

.contact-form form {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.contact-form h2 {
  margin-bottom: 20px;
} 

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  font-size: 18px;
}

.consent-checkbox {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background-color: #545A2F;
  color: white;
  padding: 20px 60px;
  margin-bottom: 40px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.contact-info {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-info a {
  text-decoration: none;
  color: inherit;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  width: 83px;
  height: 83px;
  margin-right: 25px;
}

@media (max-width: 456px) {
  .contact-container {
    grid-template-columns: 1fr;
    margin: 60px auto;
    padding: 10px;
  }

  .contact-header {
    margin-bottom: 40px;
  }

  button {
    padding: 15px 30px;
    margin-bottom: 20px;
  }

  .consent-checkbox {
    margin-bottom: 30px;
  }

  .icon img {
    width: 50px;
    height: 50px;
  }
}

.contact-header + .contact-form {
  margin-top: 40px;
}

.modal-content p {
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header__contact {
  text-align: center;
  margin-bottom: 20px;
}

.header__phone {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 10px 10px;
  margin-bottom: 5px;
}

.header__phone:hover {
  background-color: #545A2F;
  color: white;
}

.header__consulting {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 17px;
}

.form-container input,
.form-container button {
  width: 80%;
  margin: 10px 0;
}

/* Модальное окно */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal:target {
  display: flex;
}

.modal-content {
  background-image: url('../assets/images/consultation.png');
  background-size: cover;
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Предотвращает повторение изображения */
  width: 100%; /* Установите нужную ширину */
  height: 100%; /* Установите нужную высоту */
  position: relative;
  width: 676px;
  height: 631px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content h2 {
  margin-top: 30px;
  margin-bottom: 50px;
  color: #545A2F;
  font-size: 40px;
  line-height: 1.4;
  text-align: center;
  word-wrap: break-word;
}

.modal-content p {
  text-align: center;
}

.modal button {
  background-color: #545A2F;
  color: white;
  padding: 20px 60px;
  margin-bottom: 100px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  width: 311px;
  height: 60px;
  padding: 15px 0;
  margin: 70px auto;
}

.checkbox-container label {
  font-size: 14px;
  line-height: normal;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 15px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkbox {
  margin-bottom: 10px;
}

.checkbox-label label {
  margin-left: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: #aaa;
}

.close:hover,
.close:focus {
  color: #777;
  cursor: pointer;
  text-decoration: none;
}

.modal input[type="text"],
.modal input[type="tel"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
}
/* Стили для всех устройств */
header {
	display: flex;
	justify-content: flex-end;
}
.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
}
.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}
/* Меню, которое будет появляться */
.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
  background: #FFEFBA;
	transform: translateX(-100%);
	transition: transform 0.5s; 
}
.menu.active {
	transform: translateX(0);
}
.menu li {
	list-style-type: none;
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

/* Отобразить бургер на мобильных устройствах */
.menu-btn {
  display: none; /* Изначально скрываем бургер */
}

/* Отображаем бургер только на мобильных устройствах */
@media (max-width: 412px) {
  .menu-btn {
    display: block; /* Показываем бургер на мобильных устройствах */
    width: 40px; /* Пример ширины */
    height: 40px; /* Пример высоты */
    background-color: rgb(255, 255, 255); /* Пример цвета фона */
    /* Дополнительные стили для бургер кнопки на мобильных устройствах */
  }
}

.menu-btn{
  display: none;
  align-items: center;
  position: absolute;
  top: 0;
  right:0;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
 
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}
 
.menubox{
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}
 
.menu-item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu-item:hover {
  background-color: #CFD8DC;
}
 
 
#menu-toggle{
  opacity: 0;
}
 
#menu-toggle:checked ~ .menu-btn > span{
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
  visibility: visible;
  left: 0;
}

@media (max-width: 412px) {
  .header__nav, .header__contact {
    display: none; /* Скрываем навигацию и контактную информацию */
  }

  .form-container, .modal-content {
    width: 100%; 
    margin-block-end: 50px;/* Использование полной ширины для контейнеров формы */
  }
  
  @media(min-width:412px) {
    nav ul {
        display: block;
        position: static;
    }
    nav ul li {
        display: inline-block;
    }
    nav ul li a {
        border: none;
    }
    .burgerimage {
        display: none;
    }
} 
  /* Добавляем стили для бургера */
  .menu-btn {
    display: none; /* Показываем бургер */
  }

  .menu {
    display: none; /* Скрываем меню */
  }

  .menu.active {
    display: block; /* Показываем меню, когда оно активно */
  }
  .form-container, .modal-content {
    width: 100%; 
    margin-block-end: 50px;/* Использование полной ширины для контейнеров формы */
  }
/* Стили для бургер-меню */
.menu-btn {
  display: none; /* Изначально скрываем бургер */
}

/* Отображение бургера на мобильных устройствах */
.menu-btn {
  display: none; /* Изначально скрываем бургер */
}


      /* Media query for screens larger than 768px */
      @media screen and (min-width: 769px) {
        .burger,
        .menu-list {
          display: none; /* Hide burger and menu on larger screens */
        }
  
  /* Стили для линий бургера */
  .menu-btn span {
    width: 30px; /* Ширина линий */
    height: 3px; /* Высота линий */
    background-color: white; /* Цвет линий */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s; /* Плавное изменение стилей */
  }

  /* Анимация линий бургера при активации */
  .menu-btn.active span:nth-of-type(1) {
    transform: translateY(5px) rotate(45deg);
  }

  .menu-btn.active span:nth-of-type(2) {
    opacity: 0;
  }

  .menu-btn.active span:nth-of-type(3) {
    transform: translateY(-5px) rotate(-45deg);
  }

  /* Отображение меню при активации */
  .menu {
    position: fixed; /* Фиксированное позиционирование */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff; /* Цвет фона меню */
    transform: translateX(-100%); /* Сдвиг меню влево за пределы экрана */
    transition: transform 0.5s; /* Плавное появление/исчезновение */
  }

  /* Отображение меню при активации */
  .menu.active {
    transform: translateX(0); /* Возврат меню на экран */
  }

  /* Стили для пунктов меню */
  .menu ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 0;
    text-align: center; /* Выравнивание текста по центру */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu li {
    margin-bottom: 20px; /* Промежуток между пунктами меню */
  }

  .menu li a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #222222; /* Цвет текста ссылок */
    font-size: 20px; /* Размер текста */
    transition: color 0.3s; /* Плавное изменение цвета текста */
  }

  /* Изменение цвета текста ссылок при наведении */
  .menu li a:hover {
    color: #545A2F; /* Новый цвет текста при наведении */
  }
}

  .footer {
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2px;
    margin: 0 auto;
    width: 100%;
    height: 35rem;
  }
  .footer__contacts {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0;
    justify-self: center;
    text-align: center;
  }
  .footer__phone {
    font-size: 20px;
  }
  .footer__email {
    font-size: 20px;
  }
  .footer__copyright {
    display: none;
  }
  .footer__img {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0;
    padding-top: 3rem;
    justify-self: center;
  }
  .footer__socialmedia {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 0;
    justify-self: center;
    text-align: center;
    width: 330px;
  }
  .footer__instagram {
    padding: 0;
    text-align: center;
  }
  .footer__confidential {
    padding: 0;
    padding-top: 4rem;
    text-align: left;
    font-size: 16px;
  }
  .footer__confidential::after {
    content: "© 2021 VESNA";
    display: block;
    padding-top: 0.5rem;
    font-size: 16px;
  }
  .footer__socialmedia::before {
    content: "Наверх";
    position: absolute;
    right: 1rem;
    bottom: 3rem;
    padding: 50px 36px;
    background-color: rgb(153, 161, 142);
    background: url(/assets/images/project/footer_btn_up.png) 50% 25% no-repeat rgb(153, 161, 142);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-size: 14px;
  }

  .pointer-back__img {
    width: 100%;
  }
  .link_back {
    visibility: hidden;
  }
  .link_back::before {
    content: "Назад";
    visibility: visible;
    font-size: 14px;
 
  }
 }

 @media(min-width:412px) {
  nav ul {
      display: block;
      position: static;
  }
  nav ul li {
      display: inline-block;
  }
  nav ul li a {
      border: none;
  }
  .burgerimage {
      display: none;
  }
}


header {
  margin: 0;
  font-family: "Raleway", sans-serif;
}
.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 30px;
  top: 30px;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #ffffff;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #f4f2f2;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}
.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  background: #fff;
  text-align: center;
  width: 311px;
  height: 160px;
  overflow: auto;
  position: absolute;
  top: 60px;
  right: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.burger-checkbox:checked ~ .menu-list {
  display: block;
}
.menu-item {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: #333;
  text-decoration: none;
}
.menu-item:hover {
  background: #f4f4f4;
}
@media screen and (min-width: 769px) {
  .burger,
  .menu-list {
    display: none; /* Hide burger and menu on larger screens */
  }
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */
 
.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
 
} /* Style span tag */
 
.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
 
.side-menu {
    display: none;
} /* Hide checkbox */


  /* Показ контактной информации на настольных компьютерах */
@media (min-width: 769px) {
  .header__contact {
      display: block; /* или flex, grid, etc. в зависимости от вашего дизайна */
  }
}

  /* Adaptive phone */
@media screen and (max-width: 376px) {
  header {
    position: relative;
  }
  .header__logo {
    z-index: 5;
    padding: 0;
    width: 107px;
  }
  .header__nav {
    display: none;
  }
  .header__contact {
    display: none;
  }
  .menu__burger {
    display: block;
  }
  .burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    z-index: 5;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  .burger::before,
  .burger::after {
    content: "";
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 rgb(255, 255, 255);
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom 0.3s 0.15s, transform 0.3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  }
  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
  }
  .menu-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    list-style: none;
    padding: 10rem 3rem 0 3rem;
    margin: 0;
    display: none;
    background: rgb(84, 90, 47);
    text-align: center;
    overflow: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  .burger-checkbox:checked ~ .menu-list {
    display: block;
  }
  .menu-item {
    display: block;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
  }
  .menu-item:hover {
    background: rgb(153, 161, 142);
  }
  .burger__phone {
    margin: auto;
    margin-top: 5rem;
    padding: 15px 15px;
    color: rgb(26, 26, 24);
    border: none;
    text-align: center;
    font-size: 24px;
  }
  .burger__consult {
    border: none;
    padding: 20px 0;
  }

}/*# sourceMappingURL=style_contacts.css.map */
