// Цвета
$HakiDark: rgba(84, 90, 47, 1);
$HakiLight: rgba(153, 161, 142, 1);
$Brown: rgba(99, 83, 62, 1);
$Black: rgba(26, 26, 24, 1);
$White: rgba(255, 255, 255, 1);
// Шрифты
@font-face {
  font-family: Noah-Bold;
  src: url(../fonts/Noah-Bold.ttf);
}
@font-face {
  font-family: Noah-Regular;
  src: url(../fonts/Noah-Regular.ttf);
}
@font-face {
  font-family: MarckScript-Regular;
  src: url(../fonts/MarckScript-Regular.ttf);
}

* {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// Хедер
.header {
  max-width: 1280px;
  justify-items: center;
  justify-content: center;
  background-image: url(../images/services/main_foto.png);
  background-size: cover;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 40% 20%;
  gap: 2px;
  width: 100%;
  height: 35rem;
  padding-top: 2rem;
}
.header__logo {
  padding-left: 4rem;
} /*логопотип*/

.header__nav {
  padding-top: 3rem;
  font-family: Noah-Regular;
} /*меню*/

.header__nav-menu {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  font-size: 14pt;
  text-decoration: none;
  color: $White;
}

.header__nav a:hover {
  border-bottom: 1px solid $White;
  background-color: rgba(255, 255, 255, 0.2);
} /*подчеркивание под пунктами меню при наведении*/

.header__contact {
  padding-top: 1rem;
  font-family: Noah-Regular;
}

.header__consulting {
  padding-top: 0.5rem;
  padding-left: 1.2rem;
  font-size: 11pt;
  color: $White;
}

.header__phone {
  width: 13rem;
  height: 3.75rem;
  padding-top: 1.3rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 14pt;
  background-color: $White;
}

.header__words {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-column: 1 / 4;
  align-items: start;
  justify-items: center;
  gap: 0.5rem;
}
.header__title {
  color: $White;
  font-family: Noah-Bold;
  font-weight: 700;
  font-size: 70px;
  line-height: 88px;
}

.header__order {
  width: 18vw;
  text-align: center;
  border: 1px solid;
  text-decoration: none;
  color: $White;
  font-family: Noah-Regular;
  font-weight: 400;
  font-size: 24px;
  line-height: 58px;
}

.header__order:hover {
  text-decoration: underline 1px solid $White;
  background-color: rgba(255, 255, 255, 0.2);
}

// бургер
.menu__burger {
  display: none;
}

// Основная
.main {
  display: grid;
  justify-items: center;
}

.main__services {
  max-width: 1280px;
  max-height: 562px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 10rem;
  gap: 6rem;
}

#main_services1 div,
#main_services3 div {
  grid-column: 1 / 2;
}

#main_services1 img,
#main_services3 img {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

#main_services2 div,
#main_services4 div {
  grid-column: 2 / 3;
}

#main_services2 img,
#main_services4 img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.services__examples {
  display: grid;
  justify-items: start;
  align-content: center;
  gap: 4rem;
}
.services__title {
  color: $Black;
  font-family: Noah-Regular;
  font-weight: 400;
  font-size: 58px;
  line-height: 72px;
}
.services__text {
  color: $Black;
  font-family: Noah-Regular;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.services__more__box {
  width: 18vw;
  height: 7vh;
  border: 2px solid $HakiDark;
  align-items: center;
}

.services__more {
  padding: 1em 4em;
  text-decoration: none;
  color: $Black;
  font-family: Noah-Regular;
  font-weight: 400;
  font-size: 24px;
  line-height: 58px;
}

.services__more:hover {
  text-decoration: underline 2px solid $HakiDark;
}

// Сделать заказ

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 1440px;
  min-height: 644px;
  margin-bottom: 5rem;
  justify-items: center;
  align-content: center;
  align-items: stretch;
}
.contact-container h3 {
  font-family: Noah-Regular;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
}
.contact-container h5,
.contact-container a,
.contact__form {
  color: $Black;
  font-family: Noah-Regular;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
}
.contact-info {
  display: grid;
  width: 513px;
}
.info-item {
  display: grid;
}

.contact__form {
  width: 660px;
  height: 490px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 3fr 1fr 1fr;
  gap: 2rem;
}
.contact_button {
  display: grid;
  justify-items: end;
}
.contact_button button {
  width: 312px;
  height: 60px;
  background-color: $HakiDark;
  color: $White;
  font-family: Noah-Regular;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  border: transparent;
}

// Футер
.footer {
  display: grid;
  grid-template-columns: 35% 1fr 20%;
  grid-template-rows: 1fr;
  gap: 2px;
  width: 100%;
  height: 14rem;
  background-color: #545a2f;
}

.footer__contacts {
  padding-top: 3.5rem;
  padding-left: 5rem;
  font-family: Noah-Regular;
  color: $White;
}

.footer__email {
  padding-top: 1rem;
}

.footer__copyright {
  padding-top: 5rem;
  font-size: 9pt;
}

.footer__img {
  padding-top: 1.5rem;
  padding-left: 9rem;
}

.footer__instagram {
  padding-top: 2.5rem;
  padding-left: 10rem;
}

.footer__confidential {
  padding-top: 6rem;
  padding-left: 3rem;
  font-family: Noah-Regular;
  font-size: 9pt;
  color: $White;
}

// круглая кнопка
.button_up {
  position: fixed;
  right: 1rem;
  bottom: 3rem;
  padding: 50px 36px;
  background-color: $HakiLight;
  background: url(/assets/images/project/footer_btn_up.png) 50% 25% no-repeat
    $HakiLight;
  border-radius: 50%;
  opacity: 80%;
  color: $White;
  text-decoration: none;
  font-family: Noah-Regular;
  font-size: 18px;
}

// Адаптивная вёрстка

@media screen and (max-width: 376px) {
  .header {
    grid-template-columns: 1fr 50% 20%;
    background-image: url(../images/services/main_foto_phone.png);
    height: 25rem;
    padding-top: 1rem;
    margin-bottom: -4rem;
  }

  .header__logo {
    width: 25vw;
    padding: 0;
  }

  .header__nav {
    display: none;
  }

  .menu__burger {
    display: block;
  }
  .burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    z-index: 4;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  .burger::before,
  .burger::after {
    content: "";
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: $White;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 $White;
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom 0.3s 0.15s, transform 0.3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  }
  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
  }
  .menu-list {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    list-style: none;
    padding: 10rem 3rem 0 3rem;
    margin: 0;
    display: none;
    background: $HakiDark;
    text-align: center;
    overflow: auto;
    position: absolute;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .burger-checkbox:checked ~ .menu-list {
    display: block;
  }
  .menu-item {
    display: block;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    color: $White;
    text-decoration: none;
    font-size: 20px;
  }
  .menu-item:hover {
    background: $HakiLight;
  }
  .burger__phone {
    margin: auto;
    margin-top: 5rem;
    padding: 15px 15px;
    color: $Black;
    border: none;
    text-align: center;
    font-size: 24px;
  }
  .burger__consult {
    border: none;
    padding: 20px 0;
  }

  .header__contact {
    display: none;
  }

  .header__words {
    grid-template-rows: 65% 35%;
  }

  .header__title {
    font-size: 30px;
    line-height: 30px;
  }

  .header__order {
    width: 97vw;
  }

  .main {
    grid-template-columns: 100%;
  }

  .main__services {
    grid-template-columns: 95%;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 8em;
  }

  #main_services1 div,
  #main_services3 div {
    grid-column: 1;
  }

  #main_services1 img,
  #main_services3 img {
    grid-column: 1;
    grid-row: 2 / 3;
  }

  #main_services2 div,
  #main_services4 div {
    grid-column: 1;
  }

  #main_services2 img,
  #main_services4 img {
    grid-column: 1;
    grid-row: 2 / 3;
  }

  .services__examples {
    align-content: start;
    margin-left: 10vw;
    gap: 5vh;
    margin-bottom: -3em;
  }

  .services__title {
    font-size: 24px;
    line-height: 30px;
  }

  .services__text {
    font-size: 16px;
    line-height: 20px;
  }

  .services__image {
    max-width: 375px;
    margin-bottom: -3rem;
  }

  .services__more__box {
    width: 100%;
    height: 9vh;
    margin-left: 2.5vw;
  }

  .contact-container {
    grid-template-columns: 1fr;
    min-width: 375px;
    min-height: auto;
    margin-top: 5rem;
    align-items: center;
  }

  .contact-info {
    width: 100%;
    margin-bottom: 4rem;
  }

  .info-item h3 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }

  .info-item h5,
  .info-item a,
  .info-item img {
    display: none;
  }

  .contact__form {
    width: 98%;
    margin-left: 1vw;
  }

  .contact_button {
    justify-items: center;
  }

  .contact_button button {
    width: 97%;
  }

  .footer {
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2px;
    margin: 0 auto;
    width: 100%;
    height: 35rem;
  }
  .footer__contacts {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0;
    justify-self: center;
    text-align: center;
  }
  .footer__phone {
    font-size: 20px;
  }
  .footer__email {
    font-size: 20px;
  }
  .footer__copyright {
    display: none;
  }
  .footer__img {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0;
    padding-top: 3rem;
    justify-self: center;
  }
  .footer__socialmedia {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 0;
    justify-self: center;
    text-align: center;
    width: 330px;
  }
  .footer__instagram {
    padding: 0;
    text-align: center;
  }
  .footer__confidential {
    padding: 0;
    padding-top: 4rem;
    text-align: left;
    font-size: 16px;
  }
  .footer__confidential::after {
    content: "© 2021 VESNA";
    display: block;
    padding-top: 0.5rem;
    font-size: 16px;
  }
  // круглая кнопка
  .button_up {
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    padding: 30px 16px;
    background-color: $HakiLight;
    background: url(/assets/images/project/footer_btn_up.png) 50% 25% no-repeat
      $HakiLight;
    border-radius: 50%;
    opacity: 80%;
    color: $White;
    text-decoration: none;
    font-family: Noah-Regular;
    font-size: 14px;
  }
}
