.word-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--bg-color); /* Общий фон таблицы */
  color: var(--text-color); /* Цвет текста */
}

.word-table th, .word-table td {
  border: 1px solid var(--table-border); /* Бордюры */
  padding: 10px;
  text-align: left;
}

.word-table tr {
  background-color: var(--bg-color); /* Убираем зебру */
}
