.1_3 { 
	overflow:hidden;
}.e1_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1824px;
	height:2339px;
	position:absolute;
}.e2_12 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:362px;
	height:362px;
	position:absolute;
	left:220px;
	top:452px;
	background-image:url(images/26318ed3_950b_409c_8e14_74d7d7ee1167_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_20 { 
	color:rgba(0, 0, 0, 1);
	width:592px;
	height:606px;
	position:absolute;
	left:660px;
	top:522px;
	font-family:Mansalva;
	text-align:center;
	font-size:50px;
	letter-spacing:-2;
	line-height:px;
}.e2_19 { 
	width:206px;
	height:198px;
	position:absolute;
	left:1313px;
	top:465px;
	background-image:url(images/fuji_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_17 { 
	transform: rotate(89.3722262483754deg);
	width:237px;
	height:225px;
	position:absolute;
	left:444.9864807128906px;
	top:956px;
	background-image:url(images/airplane_2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_16 { 
	width:529px;
	height:374px;
	position:absolute;
	left:181px;
	top:1377px;
	background-image:url(images/cd678a29_524e_41bc_a9b1_21c180f66f13_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_15 { 
	width:295px;
	height:289px;
	position:absolute;
	left:1313px;
	top:931px;
	background-image:url(images/834a3e8d_b119_4436_881a_11aa416434f3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_21 { 
	color:rgba(0, 0, 0, 1);
	width:657px;
	height:370px;
	position:absolute;
	left:932px;
	top:1400px;
	font-family:Aclonica;
	text-align:center;
	font-size:50px;
	letter-spacing:-2;
	line-height:px;
}.e2_18 { 
	transform: rotate(0.02686779597616538deg);
	width:304.4078063964844px;
	height:297.88995361328125px;
	position:absolute;
	left:1403.1396484375px;
	top:1949px;
	background-image:url(images/green_planet_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_42 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 0.25);
	width:627px;
	height:200.18536376953125px;
	position:absolute;
	left:132px;
	top:2042px;
}.e2_43 { 
	width:627px;
	height:62.59267044067383px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_44 { 
	width:350px;
	height:62.59267044067383px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_45 { 
	color:rgba(99.00000169873238, 115.00000074505806, 129.00000751018524, 1);
	width:117px;
	height:17.883405685424805px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e2_46 { 
	color:rgba(99.00000169873238, 115.00000074505806, 129.00000751018524, 1);
	width:111px;
	height:17.883405685424805px;
	position:absolute;
	left:0px;
	top:35.76655197143555px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.2_47 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e2_47 { 
	width:350px;
	height:0px;
	position:absolute;
	left:0px;
	top:62.59267044067383px;
}.e2_48 { 
	width:350px;
	height:62.59267044067383px;
	position:absolute;
	left:277px;
	top:0px;
}.e2_49 { 
	color:rgba(99.00000169873238, 115.00000074505806, 129.00000751018524, 1);
	width:173px;
	height:17.883405685424805px;
	position:absolute;
	left:0px;
	top:31.29553985595703px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}.e2_50 { 
	color:rgba(99.00000169873238, 115.00000074505806, 129.00000751018524, 1);
	width:49px;
	height:17.883405685424805px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.2_51 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e2_51 { 
	width:350px;
	height:0px;
	position:absolute;
	left:0px;
	top:62.59267044067383px;
}.e2_52 { 
	width:625px;
	height:62.59269332885742px;
	position:absolute;
	left:1px;
	top:137.59266662597656px;
}.e2_53 { 
	width:350px;
	height:62.59269332885742px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_54 { 
	color:rgba(99.00000169873238, 115.00000074505806, 129.00000751018524, 1);
	width:173px;
	height:17.883405685424805px;
	position:absolute;
	left:0px;
	top:31.295434951782227px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}.e2_55 { 
	color:rgba(99.00000169873238, 115.00000074505806, 129.00000751018524, 1);
	width:60px;
	height:17.883405685424805px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.2_56 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e2_56 { 
	width:350px;
	height:0px;
	position:absolute;
	left:0px;
	top:62.59256362915039px;
}.e2_57 { 
	width:350px;
	height:62.59269332885742px;
	position:absolute;
	left:275px;
	top:0px;
}.e2_58 { 
	color:rgba(99.00000169873238, 115.00000074505806, 129.00000751018524, 1);
	width:173px;
	height:17.883405685424805px;
	position:absolute;
	left:0px;
	top:31.295434951782227px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}.e2_59 { 
	color:rgba(99.00000169873238, 115.00000074505806, 129.00000751018524, 1);
	width:223px;
	height:17.883405685424805px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.2_60 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e2_60 { 
	width:350px;
	height:0px;
	position:absolute;
	left:0px;
	top:62.59256362915039px;
}.e2_27 { 
	width:303px;
	height:155.7714385986328px;
	position:absolute;
	left:1023px;
	top:1920px;
}.e2_28 { 
	color:rgba(0, 0, 0, 1);
	width:242px;
	height:40.055843353271484px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inria Serif;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e2_29 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.800000011920929;
	width:303px;
	height:105.92545318603516px;
	position:absolute;
	left:0px;
	top:49.84593200683594px;
	font-family:Aclonica;
	text-align:left;
	font-size:16px;
	letter-spacing:-2;
	line-height:px;
}.e2_22 { 
	width:164px;
	height:157.55328369140625px;
	position:absolute;
	left:874px;
	top:2024px;
}.e2_23 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:35.60519027709961px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:justified;
	font-size:25px;
	letter-spacing:-2;
}.e2_24 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.800000011920929;
	width:135px;
	height:20.47298812866211px;
	position:absolute;
	left:0px;
	top:53.40803146362305px;
	font-family:Inter;
	text-align:justified;
	font-size:16px;
	letter-spacing:-2;
}.e2_25 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.800000011920929;
	width:159px;
	height:20.47298812866211px;
	position:absolute;
	left:0px;
	top:95.24372100830078px;
	font-family:Inter;
	text-align:justified;
	font-size:16px;
	letter-spacing:-2;
}.e2_26 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.800000011920929;
	width:164px;
	height:20.47298812866211px;
	position:absolute;
	left:0px;
	top:137.08030700683594px;
	font-family:Inter;
	text-align:justified;
	font-size:16px;
	letter-spacing:-2;
}.e2_36 { 
	width:322px;
	height:50.23467254638672px;
	position:absolute;
	left:967px;
	top:2121px;
}.e2_37 { 
	width:322px;
	height:50.23467254638672px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_38 { 
	color:rgba(0, 0, 0, 1);
	width:282px;
	height:10.234674453735352px;
	position:absolute;
	left:40px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}.e2_39 { 
	color:rgba(0, 0, 0, 1);
	width:282px;
	height:10.234674453735352px;
	position:absolute;
	left:40px;
	top:40px;
	font-family:Poppins;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}.e2_40 { 
	color:rgba(0, 0, 0, 1);
	width:20px;
	height:9.053751945495605px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Font Awesome 5 Free;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e2_31 { 
	opacity:0.800000011920929;
	width:238px;
	height:26.341712951660156px;
	position:absolute;
	left:1009px;
	top:2082px;
}.e2_32 { 
	color:rgba(0, 0, 0, 1);
	width:238px;
	height:26.341712951660156px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Aclonica;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}.e2_41 { 
	color:rgba(0, 0, 0, 1);
	width:453px;
	height:48.49748611450195px;
	position:absolute;
	left:219px;
	top:1967px;
	font-family:Aclonica;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
	line-height:px;
}.e8_65 { 
	width:1824px;
	height:323px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/219693_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e14_66 { 
	width:198px;
	height:83px;
	position:absolute;
	left:1519px;
	top:38px;
}.e14_70 { 
	width:218px;
	height:60px;
	position:absolute;
	left:1499px;
	top:222px;
}.e14_113 { 
	width:130.26699829101562px;
	height:192.78399658203125px;
	position:absolute;
	left:31px;
	top:41px;
}.e14_112 { 
	width:130.26699829101562px;
	height:192.78399658203125px;
	position:absolute;
	left:0px;
	top:0px;
}.14_110 { 
	overflow:hidden;
}.e14_110 { 
	width:130.26699829101562px;
	height:192.78399658203125px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_101 { 
	width:130.20147705078125px;
	height:192.7860870361328px;
	position:absolute;
	left:0.0645747110247612px;
	top:-0.0020751955453306437px;
}.e14_102 { 
	background-image:linear-gradient(0deg, rgba(157.00690627098083, 193.15166115760803, 12.427909523248672, 1) 0%,rgba(85.0000025331974, 129.00000751018524, 241.00000083446503, 1) 100%) ;
	width:40.81800079345703px;
	height:38.806007385253906px;
	position:absolute;
	left:44.32142639160156px;
	top:24.43406867980957px;
}.e14_103 { 
	background-image:linear-gradient(0deg, rgba(17.00000088661909, 252.00000017881393, 181.49999678134918, 1) 0%,rgba(85.0000025331974, 129.00000751018524, 241.00000083446503, 1) 100%) ;
	width:21.062000274658203px;
	height:19.58500099182129px;
	position:absolute;
	left:54.67942428588867px;
	top:173.20108032226562px;
}.e14_104 { 
	background-image:linear-gradient(0deg, rgba(17.00000088661909, 252.00000017881393, 167.40000218153, 1) 0%,rgba(85.0000025331974, 129.00000751018524, 241.00000083446503, 1) 100%) ;
	width:92.05107116699219px;
	height:109.6991195678711px;
	position:absolute;
	left:19.18535614013672px;
	top:63.50094985961914px;
}.e14_105 { 
	background-image:linear-gradient(0deg, rgba(252.00000017881393, 17.00000088661909, 186.1999949812889, 1) 0%,rgba(85.0000025331974, 129.00000751018524, 241.00000083446503, 1) 100%) ;
	width:9.301307678222656px;
	height:9.369007110595703px;
	position:absolute;
	left:60.13762283325195px;
	top:77.03506469726562px;
}.e14_106 { 
	background-image:linear-gradient(0deg, rgba(252.00000017881393, 17.00000088661909, 17.00000088661909, 1) 0%,rgba(85.0000025331974, 129.00000751018524, 241.00000083446503, 1) 100%) ;
	width:9.30280590057373px;
	height:9.370004653930664px;
	position:absolute;
	left:60.162620544433594px;
	top:103.21307373046875px;
}.e14_107 { 
	background-image:linear-gradient(0deg, rgba(252.00000017881393, 17.00000088661909, 143.89999598264694, 1) 0%,rgba(85.0000025331974, 129.00000751018524, 241.00000083446503, 1) 100%) ;
	width:9.301810264587402px;
	height:9.36900520324707px;
	position:absolute;
	left:60.19961929321289px;
	top:129.39407348632812px;
}.e14_108 { 
	background-image:linear-gradient(0deg, rgba(197.36379593610764, 201.21897786855698, 211.09062016010284, 0.25999999046325684) 0%,rgba(85.0000025331974, 129.00000751018524, 241.00000083446503, 1) 100%) ;
	width:100.80015563964844px;
	height:90.75312805175781px;
	position:absolute;
	left:14.642565727233887px;
	top:14.711941719055176px;
}.e14_109 { 
	background-image:linear-gradient(0deg, rgba(17.00000088661909, 252.00000017881393, 223.79999577999115, 1) 0%,rgba(85.0000025331974, 129.00000751018524, 241.00000083446503, 1) 100%) ;
	width:130.20147705078125px;
	height:122.26907348632812px;
	position:absolute;
	left:0px;
	top:0px;
}