* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_3 {
  width: 100%;
  height: 2339px;
  background: rgba(255,255,255,1);
  padding: 291px 0px;
  margin: 165px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_12 {
  width: 362px;
  height: 362px;
  background: url("../images/v2_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 452px;
  left: 220px;
  overflow: hidden;
}
.v2_20 {
  width: 592px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 522px;
  left: 660px;
  font-family: Mansalva;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v2_19 {
  width: 206px;
  height: 198px;
  background: url("../images/v2_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 465px;
  left: 1313px;
  overflow: hidden;
}
.v2_17 {
  width: 237px;
  height: 225px;
  background: url("../images/v2_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 956px;
  left: 444px;
  overflow: hidden;
}
.v2_16 {
  width: 529px;
  height: 374px;
  background: url("../images/v2_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1377px;
  left: 181px;
  overflow: hidden;
}
.v2_15 {
  width: 295px;
  height: 289px;
  background: url("../images/v2_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 931px;
  left: 1313px;
  overflow: hidden;
}
.v2_21 {
  width: 657px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1400px;
  left: 932px;
  font-family: Aclonica;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v2_18 {
  width: 304px;
  height: 297px;
  background: url("../images/v2_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1949px;
  left: 1403px;
  overflow: hidden;
}
.v2_42 {
  width: 627px;
  height: 200px;
  background: rgba(0,0,0,0.25);
  margin: 75px;
  opacity: 1;
  position: absolute;
  top: 2042px;
  left: 132px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2_43 {
  width: 627px;
  height: 62px;
  background: url("../images/v2_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_44 {
  width: 350px;
  height: 62px;
  background: url("../images/v2_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_45 {
  width: 117px;
  color: rgba(99,115,129,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2_46 {
  width: 111px;
  color: rgba(99,115,129,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v2_48 {
  width: 350px;
  height: 62px;
  background: url("../images/v2_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 277px;
  overflow: hidden;
}
.v2_49 {
  width: 173px;
  color: rgba(99,115,129,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_50 {
  width: 49px;
  color: rgba(99,115,129,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v2_52 {
  width: 625px;
  height: 62px;
  background: url("../images/v2_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 1px;
  overflow: hidden;
}
.v2_53 {
  width: 350px;
  height: 62px;
  background: url("../images/v2_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_54 {
  width: 173px;
  color: rgba(99,115,129,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_55 {
  width: 60px;
  color: rgba(99,115,129,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v2_57 {
  width: 350px;
  height: 62px;
  background: url("../images/v2_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 275px;
  overflow: hidden;
}
.v2_58 {
  width: 173px;
  color: rgba(99,115,129,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_59 {
  width: 223px;
  color: rgba(99,115,129,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v2_27 {
  width: 303px;
  height: 155px;
  background: url("../images/v2_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1920px;
  left: 1023px;
  overflow: hidden;
}
.v2_28 {
  width: 242px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inria Serif;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v2_29 {
  width: 303px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 49px;
  left: 0px;
  font-family: Aclonica;
  font-weight: Regular;
  font-size: 16px;
  opacity: 0.800000011920929;
  text-align: left;
}
.v2_22 {
  width: 164px;
  height: 157px;
  background: url("../images/v2_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2024px;
  left: 874px;
  overflow: hidden;
}
.v2_23 {
  width: 136px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 25px;
  opacity: 1;
  text-align: justified;
}
.v2_24 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 0.800000011920929;
  text-align: justified;
}
.v2_25 {
  width: 159px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 95px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 0.800000011920929;
  text-align: justified;
}
.v2_26 {
  width: 164px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 137px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 0.800000011920929;
  text-align: justified;
}
.v2_36 {
  width: 322px;
  height: 50px;
  background: url("../images/v2_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2121px;
  left: 967px;
  overflow: hidden;
}
.v2_37 {
  width: 322px;
  height: 50px;
  background: url("../images/v2_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_38 {
  width: 282px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 40px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v2_39 {
  width: 282px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 40px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v2_40 {
  width: 20px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Font Awesome 5 Free;
  font-weight: Solid;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2_31 {
  width: 238px;
  height: 26px;
  background: url("../images/v2_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.800000011920929;
  position: absolute;
  top: 2082px;
  left: 1009px;
  overflow: hidden;
}
.v2_32 {
  width: 238px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Aclonica;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_41 {
  width: 453px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1967px;
  left: 219px;
  font-family: Aclonica;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v8_65 {
  width: 100%;
  height: 323px;
  background: url("../images/v8_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v14_113 {
  width: 130px;
  height: 192px;
  background: url("../images/v14_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 31px;
  overflow: hidden;
}
.v14_112 {
  width: 130px;
  height: 192px;
  background: url("../images/v14_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_110 {
  width: 130px;
  height: 192px;
  background: url("../images/v14_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_111 {
  width: 130px;
  height: 192px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v14_101 {
  width: 130px;
  height: 192px;
  background: url("../images/v14_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v14_102 {
  width: 40px;
  height: 38px;
  background: linear-gradient(rgba(157,193,12,1), rgba(85,129,241,1));
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 44px;
}
.v14_103 {
  width: 21px;
  height: 19px;
  background: linear-gradient(rgba(17,252,181,1), rgba(85,129,241,1));
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 54px;
}
.v14_104 {
  width: 92px;
  height: 109px;
  background: linear-gradient(rgba(17,252,167,1), rgba(85,129,241,1));
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 19px;
}
.v14_105 {
  width: 9px;
  height: 9px;
  background: linear-gradient(rgba(252,17,186,1), rgba(85,129,241,1));
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 60px;
}
.v14_106 {
  width: 9px;
  height: 9px;
  background: linear-gradient(rgba(252,17,17,1), rgba(85,129,241,1));
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 60px;
}
.v14_107 {
  width: 9px;
  height: 9px;
  background: linear-gradient(rgba(252,17,143,1), rgba(85,129,241,1));
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 60px;
}
.v14_108 {
  width: 100px;
  height: 90px;
  background: linear-gradient(rgba(197,201,211,0.25999999046325684), rgba(85,129,241,1));
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 14px;
}
.v14_109 {
  width: 130px;
  height: 122px;
  background: linear-gradient(rgba(17,252,223,1), rgba(85,129,241,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
