.mask-group,
.mask-group * {
  box-sizing: border-box;
}
.mask-group {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.frame {
  background: #f1f1f1;
  padding: 0px 420px 0px 420px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
}
.desktop-1 {
  background: #ffffff;
  padding: 291px 0px 291px 0px;
  flex-shrink: 0;
  width: 1416px;
  height: 1990px;
  position: relative;
}
._26318-ed-3-950-b-409-c-8-e-14-74-d-7-d-7-ee-1167-1 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  width: 362px;
  height: 362px;
  position: absolute;
  left: 24px;
  top: 360px;
  object-fit: cover;
}
.anastasia-and-her-son-oribe-live-in-chiba-and-often-share-tales-of-modern-japan-oribe-with-his-bright-eyes-and-curious-mind-eagerly-absorbs-the-bustling-streets-of-tokyo-in-their-cozy-home-in-chiba-nestled-between-skyscrapers-and-cherry-blossoms-they-cherish-each-moment-grateful-to-be-a-part-of-japan-s-evolving-tapestry {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 428px;
  top: 394px;
}
.anastasia-and-her-son-oribe-live-in-chiba-and-often-share-tales-of-modern-japan-oribe-with-his-bright-eyes-and-curious-mind-eagerly-absorbs-the-bustling-streets-of-tokyo-in-their-cozy-home-in-chiba-nestled-between-skyscrapers-and-cherry-blossoms-they-cherish-each-moment-grateful-to-be-a-part-of-japan-s-evolving-tapestry2 {
  color: #000000;
  text-align: center;
  font-family: "MarckScript-Regular", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  position: relative;
  width: 592px;
  -webkit-text-stroke: 1px #000000;
}
.fuji-1 {
  width: 206px;
  height: 198px;
  position: absolute;
  left: 1124px;
  top: 372px;
  object-fit: cover;
}
.airplane-2-1 {
  width: 237px;
  height: 225px;
  position: absolute;
  left: 309.99px;
  top: 766px;
  transform-origin: 0 0;
  transform: rotate(89.372deg) scale(1, 1);
  object-fit: cover;
}
.cd-678-a-29-524-e-41-bc-a-9-b-1-21-c-180-f-66-f-13-1 {
  width: 529px;
  height: 374px;
  position: absolute;
  left: 20px;
  top: 1090px;
  object-fit: cover;
}
._834-a-3-e-8-d-b-119-4436-881-a-11-aa-416434-f-3-1 {
  width: 295px;
  height: 289px;
  position: absolute;
  left: 1070px;
  top: 701px;
  object-fit: cover;
}
.oribe-and-i-living-in-japan-we-want-you-to-enjoy-life-with-us-please-look-at-as-and-explore {
  color: #000000;
  text-align: center;
  font-family: "Aclonica-Regular", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  position: absolute;
  left: 706px;
  top: 1110px;
  width: 657px;
  height: 370px;
}
.green-planet-1 {
  width: 304.41px;
  height: 297.89px;
  position: absolute;
  left: 1111.14px;
  top: 1572px;
  transform-origin: 0 0;
  transform: rotate(0.027deg) scale(1, 1);
  object-fit: cover;
}
.data {
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 75px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 23px;
  top: 1710px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-1000001942 {
  flex-shrink: 0;
  width: 627px;
  height: 62.59px;
  position: static;
}
.group-1000001938 {
  width: 350px;
  height: 62.59px;
  position: static;
}
.your-name {
  color: #637381;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 313.5px);
  top: 0px;
  width: 117px;
  height: 17.88px;
}
.maetel-anna {
  color: #637381;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 313.5px);
  top: 35.77px;
  width: 111px;
  height: 17.88px;
}
.line-9 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 350px;
  height: 0px;
  position: absolute;
  left: calc(50% - 313.5px);
  top: 62.59px;
}
.group-1000001939 {
  width: 350px;
  height: 62.59px;
  position: static;
}
.example-yourmail-com {
  color: #637381;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 36.5px);
  top: 31.3px;
  width: 173px;
  height: 17.88px;
}
.e-mail {
  color: #637381;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 36.5px);
  top: 0px;
  width: 49px;
  height: 17.88px;
}
.line-10 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 350px;
  height: 0px;
  position: absolute;
  left: calc(50% - 36.5px);
  top: 62.59px;
}
.group-1000001943 {
  flex-shrink: 0;
  width: 625px;
  height: 62.59px;
  position: static;
}
.group-1000001940 {
  width: 350px;
  height: 62.59px;
  position: static;
}
._57-1254-5211-552 {
  color: #637381;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 312.5px);
  top: 168.89px;
  width: 173px;
  height: 17.88px;
}
.phone {
  color: #637381;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 312.5px);
  top: 137.59px;
  width: 60px;
  height: 17.88px;
}
.line-11 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 350px;
  height: 0px;
  position: absolute;
  left: calc(50% - 312.5px);
  top: 200.19px;
}
.group-1000001941 {
  width: 350px;
  height: 62.59px;
  position: static;
}
.i-ate-sushi {
  color: #637381;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 37.5px);
  top: 168.89px;
  width: 173px;
  height: 17.88px;
}
.anything-on-your-choice {
  color: #637381;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 37.5px);
  top: 137.59px;
  width: 223px;
  height: 17.88px;
}
.line-12 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 350px;
  height: 0px;
  position: absolute;
  left: calc(50% - 37.5px);
  top: 200.19px;
}
.group-33620 {
  position: absolute;
  inset: 0;
}
.japan-from-oribe {
  color: #000000;
  text-align: left;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - -142px);
  top: 1599px;
  width: 242px;
  height: 40.06px;
}
.don-t-be-shy-to-see-us {
  color: #000000;
  text-align: left;
  font-family: "Aclonica-Regular", sans-serif;
  font-size: 16px;
  line-height: 33px;
  font-weight: 400;
  opacity: 0.800000011920929;
  position: absolute;
  left: calc(50% - -142px);
  top: 1648.85px;
  width: 303px;
  height: 105.93px;
}
.group-33621 {
  position: absolute;
  inset: 0;
}
.the-way-s {
  color: #000000;
  text-align: justified;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 25px;
  line-height: 150%;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - -12px);
  top: 1720px;
  width: 136px;
  height: 35.61px;
}
.telephone {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  opacity: 0.800000011920929;
  position: absolute;
  left: calc(50% - -12px);
  top: 1773.41px;
  width: 135px;
  height: 20.47px;
}
.e-mail2 {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  opacity: 0.800000011920929;
  position: absolute;
  left: calc(50% - -12px);
  top: 1815.24px;
  width: 159px;
  height: 20.47px;
}
.instagram {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  opacity: 0.800000011920929;
  position: absolute;
  left: calc(50% - -12px);
  top: 1857.08px;
  width: 164px;
  height: 20.47px;
}
.contact-menu {
  position: absolute;
  inset: 0;
}
.list {
  width: 322px;
  height: 50.23px;
  position: static;
}
.anastasiaando-yahoo-co-jp {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -188px);
  top: 1815px;
  width: 282px;
  height: 10.23px;
}
.anastasia-nippon {
  color: #000000;
  text-align: left;
  font-family: var(--text-paragraph-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--text-paragraph-font-size, 17px);
  line-height: var(--text-paragraph-line-height);
  font-weight: var(--text-paragraph-font-weight, 400);
  position: absolute;
  left: calc(50% - -188px);
  top: 1855px;
  width: 282px;
  height: 10.23px;
}
.div {
  color: #000000;
  text-align: left;
  font-family: var(
    --icon-list-font-family,
    "FontAwesome5Free-Solid",
    sans-serif
  );
  font-size: var(--icon-list-font-size, 20px);
  line-height: var(--icon-list-line-height);
  font-weight: var(--icon-list-font-weight, 400);
  position: absolute;
  left: calc(50% - -148px);
  top: 1815px;
  width: 20px;
  height: 9.05px;
}
.call {
  opacity: 0.800000011920929;
  position: absolute;
  inset: 0;
}
._81-80-9019-9679 {
  color: #000000;
  text-align: left;
  font-family: "Aclonica-Regular", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -222px);
  top: 1768px;
  width: 238px;
  height: 26.34px;
}
.in-put-your-data {
  color: #000000;
  text-align: left;
  font-family: "Aclonica-Regular", sans-serif;
  font-size: 50px;
  line-height: 35px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 613px);
  top: 1602px;
  width: 453px;
  height: 48.5px;
}
._219693-1 {
  width: 1442px;
  height: 321px;
  position: absolute;
  left: -13px;
  top: 0px;
  object-fit: cover;
}
.button-open-links-navigate-design {
  width: 198px;
  height: 83px;
  position: absolute;
  left: 1170px;
  top: 57px;
}
.date-stamp {
  width: 218px;
  height: 60px;
  position: absolute;
  left: 1130px;
  top: 210px;
}
.line-14 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 20px 0 0 0;
  width: 1331.01px;
  height: 0px;
  position: absolute;
  left: 29px;
  top: 1525px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(0.217deg) scale(1, 1);
}
